body {
  font-family: 'PT Sans narrow', sans-serif;
  text-transform: uppercase;
}

.visually-hidden {
  display: none;
}

.primary-title {
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
}

.secondary-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}